@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Cardo);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: "Cardo";
  font-weight: 1em;
  line-height: 1.5;
  color: #333;
  background-color:#F7EBE8;
  margin: 0 0 0 0;
}

.top{
  height:6%;
}

.top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343148;
	display: flex;
	position: relative;
	top:0px;
	left:0px;
	width:100%;
	height:5%;
	align-items: center;
}

.top li {
  float: left;
	color: #b2bab6;
	font-size: 1em;
	width:20%;
	text-align: center;
}

.top li:hover {
  background-color:rgb(255, 111, 97);
	cursor: default;
	color: #343148;
}

.top li a{
	text-decoration:none;
	color: #b2bab6;
	font-size: 1.2em;
	width:20%;
}

.top li a:hover {
	color: #343148;
}
.gallery { 
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 2%;
    -moz-column-gap: 2%;
    column-gap: 2%;
    margin-top: 6%;
    overflow: hidden;
}

.gallery img { 
    width: 100%; 
    height: auto;
    transition: 500ms;
    margin-bottom: 6%;
    opacity: 0.6;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}

.gallery img:hover {
    opacity: 1;
}

/* .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
} */

.modal-img,.model-vid{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table
}
.modal-body{
  padding: 0px;
}

.modal-dialog {
  height: 100%;
      position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
  border: none;
}

h1 {
	font-family: 'Montserrat';
	font-size: 4em;
	line-height: 1.5em;
	margin-left: 5%;
	font-weight: normal;
}

@media screen and (max-width: 767px) {
	.gallery { 
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
	.gallery div { margin: 0; 
        width: 200px;
    }
  .modal-dialog {
        margin: 0 8vw;
    }
}

@media screen and (max-width: 479px) {
    .gallery { 
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery div { 
        margin: 0; 
        width: 200px;
    }
}

a.tip {
    text-decoration: none;
}
a.tip:hover {
    cursor: zoom-in;
    position: relative;
}
a.tip span {
    display: none;
}
a.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #F7EBE8 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none;
	font-family: "Cardo";
	font-size: 1.5em;
	color: #343148;
}

.footer {
  background: #343148;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.footer a {
  color: #fff;
}

.footer a:hover {
	color:rgb(51, 122, 183);
}

.footer h1 {
	margin-left: 0%;
}